<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - by Inti</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Html.ActionLink("Display text", "Action Result", "Controller", new { area = "" }, new { @class = "navbar-brand" })*@
                @*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@


                @if (Session["rol"] == null)
                {
                    @Html.ActionLink("Login", "IndexLogin", "Usuario", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Registrarse", "IndexAltaCliente", "Usuario", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Catalogo", "IndexCatalogo", "Excursion", new { area = "" }, new { @class = "navbar-brand" })

                }

                @if (Session["rol"] != null)
                {
                    @Html.ActionLink("Logout", "Logout", "Usuario", new { area = "" }, new { @class = "navbar-brand" })
                    if (Session["rol"].ToString() == "Cliente")
                    {

                        @Html.ActionLink("Catalogo", "IndexCatalogo", "Excursion", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Mis Compras", "IndexCompras", "Excursion", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    if (Session["rol"].ToString() == "Operador")
                    {
                        @Html.ActionLink("Lista de Clientes", "IndexVerClientes", "Reportes", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Buscar Compras", "IndexBuscarCompras", "Reportes", new { area = "" }, new { @class = "navbar-brand" })
                        @Html.ActionLink("Estadisticas", "IndexEstadisticas", "Reportes", new { area = "" }, new { @class = "navbar-brand" })
                    }
                }


            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>